body {
  margin: 0 50px;
  color: #f0f0f0;
  background-color: #0c0c0c;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

@media screen and (max-width: 960px) {
  body {
    margin: 0 auto;
  }
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #0c0c0c;
}

@media screen and (max-width: 960px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
    right: 0;
  }
}

@media screen and (max-width: 520px) {
  #header {
    padding: 17px 0;
  }
}

#header .header-nav-title {
  display: none;
}

@media screen and (max-width: 960px) {
  #header .header-nav-title {
    display: block;
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 520px) {
  #header .header-nav-title {
    display: block;
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  #header .header-nav-title a {
    display: block;
    width: 100%;
    padding-left: 45px;
    text-align: center;
  }
}

#header .global-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
  padding-right: 11%;
  padding-bottom: 20px;
}

@media screen and (max-width: 960px) {
  #header .global-nav {
    padding: 0;
    margin-right: 20px;
  }
}

#header .global-nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  #header .global-nav .menu {
    display: none;
  }
}

#header .global-nav .menu li {
  padding-top: 5px;
  padding-right: 35px;
}

#header .global-nav .menu li:last-child {
  padding-right: 0;
}

#header .global-nav .menu li a {
  display: block;
}

#header .global-nav .sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 50px;
}

@media screen and (max-width: 960px) {
  #header .global-nav .sns-link {
    display: none;
  }
}

#header .global-nav .sns-link li {
  padding-right: 20px;
}

#header .global-nav .sns-link li:last-child {
  padding-right: 0;
}

#header .global-nav .sns-link img {
  height: 24px;
}

#header .global-nav .hamburger-button {
  display: none;
}

@media screen and (max-width: 960px) {
  #header .global-nav .hamburger-button {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  #header .global-nav .hamburger-button .line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  #header .global-nav .hamburger-button .line {
    width: 20px;
    height: 1px;
  }
}

@media screen and (max-width: 960px) {
  #header .global-nav .hamburger-button .line1 {
    margin-top: 3px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
}

@media screen and (max-width: 960px) {
  #header .global-nav .hamburger-button .line2 {
    margin-top: 8px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
}

#header .global-nav .hamburger-button .btn-line1 {
  -webkit-transform: translateY(4.5px) rotate(-45deg);
          transform: translateY(4.5px) rotate(-45deg);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#header .global-nav .hamburger-button .btn-line2 {
  -webkit-transform: translateY(-4.5px) rotate(45deg);
          transform: translateY(-4.5px) rotate(45deg);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#header .global-nav .hamburger-menu {
  display: none;
}

@media screen and (max-width: 960px) {
  #header .global-nav .hamburger-menu {
    display: block;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 50px 0 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

#header .global-nav .hamburger-menu .menu-list {
  padding-top: 60px;
}

#header .global-nav .hamburger-menu .menu-list li {
  list-style: none;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

#header .global-nav .hamburger-menu .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#header .global-nav .hamburger-menu .sns-list li {
  padding-right: 30px;
}

#header .global-nav .hamburger-menu .sns-list li:last-child {
  padding-right: 0;
}

#header .global-nav .hamburger-menu .sns-list img {
  height: 24px;
}

#main {
  max-width: 1280px;
  padding-top: 85px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  #main {
    padding-top: 60px;
  }
}

@media screen and (max-width: 520px) {
  #main {
    padding-top: 50px;
  }
}

#main .main-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  #main .main-visual {
    display: block;
  }
}

#main .main-visual .header-title {
  font-size: 23px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-right: 32px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  #main .main-visual .header-title {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  #main .main-visual .header-title {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  #main .main-visual .header-title {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    margin: 0 auto;
  }
}

#main .main-visual .main-visual-box .pc-main {
  width: 100%;
}

#main .main-visual .main-visual-box .sp-main {
  display: none;
}

@media screen and (max-width: 960px) {
  #main .main-visual .main-visual-box .pc-main {
    display: none;
  }
  #main .main-visual .main-visual-box .sp-main {
    display: block;
    width: 100%;
  }
}

.layout h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-weight: 200;
  padding-top: 100px;
}

@media screen and (max-width: 960px) {
  .layout h2 {
    padding-top: 100px;
  }
}

@media screen and (max-width: 520px) {
  .layout h2 {
    padding-top: 70px;
    font-size: 22px;
    font-weight: 300;
  }
}

.layout h2::before, .layout h2::after {
  content: "";
  width: 60px;
  height: 1px;
}

.layout h2::before {
  margin-right: 24px;
}

.layout h2::after {
  margin-left: 24px;
}

.layout .about-color::before, .layout .about-color::after {
  background-color: #c21ce1;
}

.layout .skills-color::before, .layout .skills-color::after {
  background-color: #ffcc27;
}

.layout .works-color::before, .layout .works-color::after {
  background-color: #1cc6e1;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 80px auto 0;
}

@media screen and (max-width: 960px) {
  .introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 60px 100px 0;
  }
}

@media screen and (max-width: 520px) {
  .introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 40px 0 0;
  }
}

.introduction .introduction-sentence {
  width: 100%;
  margin-right: 64px;
}

@media screen and (max-width: 960px) {
  .introduction .introduction-sentence {
    width: auto;
    margin: 0 0 50px;
  }
}

@media screen and (max-width: 520px) {
  .introduction .introduction-sentence {
    width: auto;
    margin: 0 20px 40px;
  }
}

.introduction .introduction-sentence .full-name {
  margin-bottom: 18px;
  font-size: 28px;
}

@media screen and (max-width: 520px) {
  .introduction .introduction-sentence .full-name {
    font-size: 22px;
  }
}

.introduction .introduction-sentence .profile {
  margin-bottom: 30px;
  line-height: 1.6;
}

@media screen and (max-width: 520px) {
  .introduction .introduction-sentence .profile {
    font-size: 14px;
  }
}

.introduction .introduction-sentence .sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction .introduction-sentence .sns-link li {
  padding-right: 20px;
}

.introduction .introduction-sentence .sns-link li:last-child {
  padding-right: 0;
}

.introduction .introduction-sentence .sns-link img {
  height: 24px;
}

@media screen and (max-width: 520px) {
  .introduction .introduction-img {
    margin: 0 auto;
  }
}

.introduction .introduction-img img {
  width: 600px;
}

@media screen and (max-width: 960px) {
  .introduction .introduction-img img {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .introduction .introduction-img img {
    width: 100%;
  }
}

#skills {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  #skills {
    margin: 0 100px;
  }
}

@media screen and (max-width: 960px) {
  #skills {
    margin: 0 15px;
  }
}

#skills .skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  gap: 60px;
}

@media screen and (max-width: 960px) {
  #skills .skills-box {
    margin: 60px 0 0;
  }
}

@media screen and (max-width: 520px) {
  #skills .skills-box {
    margin: 0;
    gap: 0;
  }
}

#skills .skills-box .skills-item {
  width: 320px;
}

#skills .skills-box .skills-item:nth-child(4), #skills .skills-box .skills-item:nth-child(5) {
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  #skills .skills-box .skills-item {
    width: 280px;
    gap: 10px;
  }
}

@media screen and (max-width: 520px) {
  #skills .skills-box .skills-item {
    width: 100%;
    margin: 60px 20px 0;
  }
}

#skills .skills-box .skills-item .item-title {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
}

#skills .skills-box .skills-item .item-img {
  margin-bottom: 40px;
  text-align: center;
}

#skills .skills-box .skills-item .item-img img {
  width: auto;
  height: 60px;
}

#skills .skills-box .skills-item .item-coding img {
  width: 60px;
  height: auto;
  padding: 10px 0;
}

#skills .skills-box .skills-item .item-sentence {
  font-size: 14px;
  line-height: 1.6;
}

@media screen and (max-width: 520px) {
  #skills .skills-box .skills-item .item-sentence {
    line-height: 1.7;
  }
}

#skills .skills-box .skills-item .skill-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 320px;
  margin: 0 auto;
}

#skills .skills-box .skills-item .skill-icon-list .skill-icon-item {
  margin: 0 12px 40px;
}

#skills .skills-box .skills-item .skill-icon-list .skill-icon-item .skill-icon-img {
  width: 80px;
  height: auto;
}

#skills .skills-box .skills-item .skill-icon-list .skill-icon-item .skill-icon-title {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}

#works {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  #works {
    margin: 0 100px;
  }
}

@media screen and (max-width: 520px) {
  #works {
    margin: 0 15px;
  }
}

#works .works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 80px auto 100px;
}

@media screen and (max-width: 520px) {
  #works .works-list {
    width: 100%;
    margin: 40px auto 70px;
  }
}

@media screen and (max-width: 960px) {
  #works .works-list .works-item {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 520px) {
  #works .works-list .works-item {
    margin: 0;
  }
}

#works .works-list .works-item img {
  width: 380px;
  height: auto;
}

@media screen and (max-width: 960px) {
  #works .works-list .works-item img {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  #works .works-list .works-item img {
    width: 100%;
  }
}

.works-wrap {
  max-width: 1280px;
  margin: 0 auto 120px;
  padding: 0 50px;
}

@media screen and (max-width: 960px) {
  .works-wrap {
    padding: 0 80px;
  }
}

@media screen and (max-width: 520px) {
  .works-wrap {
    padding: 0 15px;
  }
}

.works-wrap .works-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  font-size: 24px;
  text-align: center;
}

.works-wrap .works-heading::before, .works-wrap .works-heading::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #1cc6e1;
}

.works-wrap .works-heading::before {
  margin-right: 10px;
}

.works-wrap .works-heading::after {
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  .works-wrap .works-heading {
    margin: 100px 20px 0;
  }
}

@media screen and (max-width: 520px) {
  .works-wrap .works-heading {
    margin: 70px 20px 0;
    font-size: 18px;
  }
}

.works-wrap .works-title {
  margin-top: 60px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
}

@media screen and (max-width: 960px) {
  .works-wrap .works-title {
    line-height: 1.6;
  }
}

@media screen and (max-width: 520px) {
  .works-wrap .works-title {
    margin: 30px auto 0;
    font-size: 24px;
  }
}

.works-wrap .works-skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.works-wrap .works-skills-list .works-skills-item {
  margin: 0 40px 40px;
}

@media screen and (max-width: 520px) {
  .works-wrap .works-skills-list .works-skills-item {
    margin: 0 20px 60px;
  }
}

.works-wrap .works-skills-list .works-skills-item .works-item-title {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.works-wrap .works-skills-list .works-skills-item .works-skill-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .works-wrap .works-skills-list .works-skills-item .works-skill-icon-list {
    width: 250px;
  }
}

.works-wrap .works-skills-list .works-skills-item .works-skill-icon-list .works-skill-icon-item {
  margin: 0 5px;
}

.works-wrap .works-skills-list .works-skills-item .works-skill-icon-list .works-skill-icon-item .works-skill-icon-img {
  width: 80px;
  height: auto;
}

.works-wrap .works-skills-list .works-skills-item .works-skill-icon-list .works-skill-icon-item .works-skill-icon-title {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.works-wrap .works-main-visual {
  margin-top: 40px;
}

@media screen and (max-width: 520px) {
  .works-wrap .works-main-visual {
    margin-top: 20px;
  }
}

.works-wrap .works-main-visual .external-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px;
}

.works-wrap .works-main-visual .external-link .external-link-word {
  color: #1492e6;
}

.works-wrap .works-main-visual .external-link .external-link-img {
  margin-left: 7px;
}

.works-wrap .works-main-visual .main-visual-img {
  width: 100%;
}

.works-wrap .project-detail {
  margin-top: 80px;
}

@media screen and (max-width: 520px) {
  .works-wrap .project-detail {
    margin-top: 40px;
  }
}

.works-wrap .project-detail .detail-list .detail-list-item {
  margin-bottom: 50px;
}

.works-wrap .project-detail .detail-list .detail-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 520px) {
  .works-wrap .project-detail .detail-list .detail-list-item {
    margin-bottom: 30px;
  }
}

.works-wrap .project-detail .detail-list .detail-list-item .detail-title {
  display: inline-block;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #1cc6e1;
}

@media screen and (max-width: 520px) {
  .works-wrap .project-detail .detail-list .detail-list-item .detail-title {
    font-size: 16px;
  }
}

.works-wrap .project-detail .detail-list .detail-list-item .detail-text {
  font-size: 17px;
  margin-top: 20px;
  line-height: 1.7;
}

@media screen and (max-width: 520px) {
  .works-wrap .project-detail .detail-list .detail-list-item .detail-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
  }
}

.works-wrap .development-process {
  margin-top: 100px;
}

@media screen and (max-width: 520px) {
  .works-wrap .development-process {
    margin-top: 60px;
  }
}

.works-wrap .development-process .process-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.works-wrap .development-process .process-heading::before, .works-wrap .development-process .process-heading::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #1cc6e1;
}

.works-wrap .development-process .process-heading::before {
  margin-right: 10px;
}

.works-wrap .development-process .process-heading::after {
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  .works-wrap .development-process .process-heading {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 520px) {
  .works-wrap .development-process .process-heading {
    margin-bottom: 40px;
    font-size: 18px;
  }
}

.works-wrap .development-process .process-list .process-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  gap: 40px;
}

@media screen and (max-width: 520px) {
  .works-wrap .development-process .process-list .process-list-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 20px;
    margin-bottom: 50px;
  }
}

.works-wrap .development-process .process-list .process-list-item:last-child {
  margin-bottom: 0;
}

.works-wrap .development-process .process-list .process-list-item:nth-child(2n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.works-wrap .development-process .process-list .process-list-item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 960px) {
  .works-wrap .development-process .process-list .process-list-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.works-wrap .development-process .process-list .process-list-item .process-text {
  font-size: 17px;
  line-height: 1.6;
  width: 50%;
}

@media screen and (max-width: 960px) {
  .works-wrap .development-process .process-list .process-list-item .process-text {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .works-wrap .development-process .process-list .process-list-item .process-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

.works-wrap .development-process .process-list .process-list-item .process-img-wrap {
  width: 50%;
}

@media screen and (max-width: 960px) {
  .works-wrap .development-process .process-list .process-list-item .process-img-wrap {
    width: 100%;
  }
}

.works-wrap .development-process .process-list .process-list-item .process-img-wrap .process-img {
  display: block;
  width: 100%;
}

.works-wrap .development-process .process-list .ingenuity:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.works-wrap .development-process .process-list .ingenuity:nth-child(2n+1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.copyright {
  margin-bottom: 20px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */