@charset 'utf-8';

@import "variables";

.introduction {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 80px auto 0;
  @include mq-up("md") {
    display: block;
  }
  @include mq-up("sm") {
    display: block;
    margin-top: 40px;
  }
  .introduction-sentence {
    width: 100%;
    margin-right: 64px;
    @include mq-up("md") {
      width: auto;
      margin: 0 100px 50px;
    }
    @include mq-up("sm") {
      width: auto;
      margin: 0 20px 40px;
    }
    .full-name {
      margin-bottom:18px;
      font-size: 28px;
      @include mq-up("sm") {
        font-size: 22px;
      }
    }
    .profile {
      margin-bottom: 30px;
      line-height: 1.6;
      @include mq-up("sm") {
        font-size: 14px;
      }
    }
    .sns-link {
      display: flex;
      li {
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }
      img {
        height: 24px;
      }
    }
  }
  .introduction-img {
    @include mq-up("md") {
      margin: 0 100px;
    }
    @include mq-up("sm") {
      margin: 0 auto;
    }
    img {
      width: 600px;
      @include mq-up("md") {
        display: block;
        width: 100%;
      }
      @include mq-up("sm") {
        width: 100%;
      }
    }
  }
}
