@charset 'utf-8';

$sizes: lg, md, sm;

$breakpoint-up: (
  "sm": "screen and (max-width: 520px)",
  "md": "screen and (max-width: 960px)",
) !default;

//mixinを定義（初期値はmd）
@mixin mq-up($breakpoint: lg) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

body {
  margin: 0 50px;
  color: #fff;
  background-color: #000;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  @include mq-up("md") {
    margin: 0 auto;
  }
  @include mq-up("sm") {
  }
}
