@charset 'utf-8';

@import "variables";

#header-wrap {
  margin:0 auto;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 7.5%;
  background-color: #000;
  @include mq-up("md") {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0;
    right: 0;
  }
  @include mq-up("sm") {
    padding: 17px 0;
  }
  .header-nav-title {
    display: none;
    @include mq-up("md") {
      display: block;
      width: 100%;
      font-size: 18px;
    }
    @include mq-up("sm") {
      display: block;
      width: 100%;
      font-size: 14px;
    }
    a {
      @include mq-up("md") {
        display: block;
        width: 100%;
        padding-left: 45px;
        text-align: center;
      }
    }
  }
  .global-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 20px;
    @include mq-up("md") {
      padding: 0;
      margin-right: 20px;
    }
    .menu {
      display: flex;
      @include mq-up("md") {
        display: none;
      }
      li {
        padding-top: 5px;
        padding-right: 35px;
        &:last-child {
          padding-right: 0;
        }
        a {
          display: block;
        }
      }
    }
    .sns-link {
      display: flex;
      margin: 0 0 0 50px;
      @include mq-up("md") {
        display: none;
      }
      li {
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }
      img {
        height: 24px;
      }
    }
    .hamburger-button {
      display: none;
      @include mq-up("md") {
        display: block;
      }
      .line {
        @include mq-up("md") {
          display: block;
          width: 25px;
          height: 2px;
          background-color: #fff;
          text-align: center;
        }
        @include mq-up("sm") {
          width: 20px;
          height: 1px;
        }
      }
      .line1 {
        @include mq-up("md") {
          margin-top: 3px;
          transition: 0.4s ease;
        }
      }
      .line2 {
        @include mq-up("md") {
          margin-top: 8px;
          transition: 0.4s ease;
        }
      }
      .btn-line1 {
        transform: translateY(4.5px) rotate(-45deg);
        transition: 0.4s ease;
      }
      .btn-line2 {
        transform: translateY(-4.5px) rotate(45deg);
        transition: 0.4s ease;
      }
    }
    .hamburger-menu {
      display: none;
      @include mq-up("md") {
        display: block;
        position: fixed;
        z-index: 30;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: 50px 0 0;
        background-color:rgba(0,0,0,0.9);
      }
      .menu-list {
        padding-top: 60px;
        li {
          list-style: none;
          padding: 20px;
          font-size: 20px;
          text-align: center;
        }
      }
      .sns-list {
        display: flex;
        justify-content: center; 
        margin-top: 40px;
        li {
          padding-right: 30px;
          &:last-child {
            padding-right: 0;
          }
        }
        img {
          height: 24px;
        }
      }
    }
  }
}
