@charset 'utf-8';

.layout {
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        font-weight: 200;
        margin-top: 150px;
        &::before,
        &::after {
            content: "";
            width: 60px;
            height: 1px;
        }
        &::before {
            margin-right: 24px;
        }
        &::after {
            margin-left: 24px;
        }
    }
    .about-color {
        &::before,
        &::after {
            background-color: #c21ce1;
        }
    }
    .skills-color {
        &::before,
        &::after {
            background-color: #ffcc27;
        }
    }
    .works-color {
        &::before,
        &::after {
            background-color: #1cc6e1;
        }
    }
}
