@charset 'utf-8';

@import "variables";

#main {
  max-width: 1280px;
  padding-top: 85px;
  margin: 0 auto;
  @include mq-up("md") {
    padding-top: 60px;
  }
  @include mq-up("sm") {
    padding-top: 50px;
  }
  .main-visual {
    display: flex;
    justify-content: flex-end;
    @include mq-up("md") {
      display: block;
    }
    .header-title {
      font-size: 23px;
      writing-mode: vertical-rl;
      margin-right: 32px;
      text-align: center;
      @include mq-up("md") {
        display: none;
      }
      @include mq-up("sm") {
        display: none;
      }
    }
    @include mq-up("md") {
      .header-title {
        writing-mode: horizontal-tb;
        margin: 0 auto;
      }
    }
    .main-visual-box {
      .pc-main {
        width: 100%;
      }
      .sp-main {
        display: none;
      }
      @include mq-up("md") {
        .pc-main {
          display: none;
        }
        .sp-main {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
