@charset 'utf-8';

@import "variables";

#works {
  max-width: 1280px;
  margin: 0 auto;
  @include mq-up("md") {
    margin: 0 100px;
  }
  @include mq-up("sm") {
    margin: 0 15px;
  }
  .works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 80px auto 100px;
    @include mq-up("md") {
    }
    @include mq-up("sm") {
      width: 100%;
      margin: 40px auto 70px;
    }
    .works-item {
      @include mq-up("md") {
        margin: 0 0 20px;
      }
      @include mq-up("sm") {
        margin: 0;
      }
      img {
        width: 380px;
        height: auto;
        @include mq-up("md") {
          width: 100%;
        }
        @include mq-up("sm") {
          width: 100%;
        }
      }
    }
  }
}

.works-wrap {
  max-width: 1280px;
  margin: 0 auto 120px;
  padding: 0 50px;
  @include mq-up("md") {
    padding: 0 80px;
  }
  @include mq-up("sm") {
    padding: 0 15px;
  }
  .works-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 24px;
    text-align: center;
    &::before,
    &::after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: #1cc6e1;
    }
    &::before {
      margin-right: 10px;
    }
    &::after {
      margin-left: 10px;
    }
    @include mq-up("md") {
      margin: 100px 20px 0;
    }
    @include mq-up("sm") {
      margin: 70px 20px 0;
      font-size: 18px;
    }
  }
  .works-title {
    margin-top: 60px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    @include mq-up("md") {
      line-height: 1.6;
    }
    @include mq-up("sm") {
      margin: 30px auto 0;
      font-size: 24px;
    }
  }
  .works-skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    .works-skills-item {
      margin: 0 40px 40px;
      @include mq-up("md") {
      }
      @include mq-up("sm") {
        margin: 0 20px 60px;
      }
      .works-item-title {
        margin-bottom: 20px;
        font-size: 16px;
        text-align: center;
      }
      .works-skill-icon-list {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        @include mq-up("md") {
          width: 250px;
        }
        .works-skill-icon-item {
          margin: 0 5px;
          .works-skill-icon-img {
            width: 80px;
            height: auto;
          }
          .works-skill-icon-title {
            margin-top: 5px;
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
  }
  .works-main-visual {
    margin-top: 40px;
    @include mq-up("sm") {
      margin-top: 20px;
    }
    .external-link {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      .external-link-word {
        color: #1492e6;
      }
      .external-link-img {
        margin-left: 7px;
      }
    }
    .main-visual-img {
      width: 100%;
    }
  }
  .project-detail {
    margin-top: 80px;
    @include mq-up("sm") {
      margin-top: 40px;
    }
    .detail-list {
      .detail-list-item {
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
        @include mq-up("sm") {
          margin-bottom: 30px;
        }
        .detail-title {
          display: inline-block;
          padding-bottom: 8px;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 1px solid #1cc6e1;
          @include mq-up("sm") {
            font-size: 16px;
          }
        }
        .detail-text {
          font-size: 17px;
          margin-top: 20px;
          line-height: 1.7;
          @include mq-up("sm") {
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.6;
          }
        }
      }
    }
  }
  .development-process {
    margin-top: 100px;
    @include mq-up("sm") {
      margin-top: 60px;
    }
    .process-heading {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 80px;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      &::before,
      &::after {
        content: "";
        width: 30px;
        height: 1px;
        background-color: #1cc6e1;
      }
      &::before {
        margin-right: 10px;
      }
      &::after {
        margin-left: 10px;
      }
      @include mq-up("md") {
        margin-bottom: 60px;
      }
      @include mq-up("sm") {
        margin-bottom: 40px;
        font-size: 18px;
      }
    }
    .process-list {
      .process-list-item {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
        gap: 40px;
        @include mq-up("sm") {
          flex-flow: column;
          gap: 20px;
          margin-bottom: 50px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-child(2n+1) {
          flex-direction: row-reverse;
        }
        &:nth-child(2n) {
          flex-direction: row;
        }
        @include mq-up("md") {
          flex-wrap: wrap;
        }
        .process-text {
          font-size: 17px;
          line-height: 1.6;
          width: 50%;
          @include mq-up("md") {
            width: 100%;
          }
          @include mq-up("sm") {
            font-size: 14px;
            line-height: 1.6;
          }
        }
        .process-img-wrap {
          width: 50%;
          @include mq-up("md") {
            width: 100%;
          }
          .process-img {
            display: block;
            width: 100%;
          }
        }
      }
      .ingenuity {
        &:nth-child(2n) {
          flex-direction: row-reverse;
        }
        &:nth-child(2n+1) {
          flex-direction: row;
        }
      }
    }
  }


  //works-bescos.html 専用スタイル
  .works-contents-bescos {
    width: 1000px;
    margin: 120px auto;
    @include mq-up("md") {
      width: 375px;
      margin: 80px auto;
    }
    @include mq-up("sm") {
      width: auto;
      margin: 60px 20px;
    }
    .works-contents-bescos-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .works-contents-bescos-item {
        margin: 0 60px;
        @include mq-up("md") {
          margin: 0 auto 40px;
        }
        &:last-child {
          margin-top: 80px;
          @include mq-up("md") {
            margin-top: 0;
          }
        }
        .works-contents-bescos-img {
          display: block;
          width: 350px;
          margin: 0 auto;
          @include mq-up("md") {
            width: 100%;
            margin: 0 auto;
          }
          @include mq-up("sm") {
            width: 100%;
          }
        }
      }
    }
  }
  //banner 専用スタイル
  .works-contents-banner {
    width: 1000px;
    margin: 120px auto;
    @include mq-up("md") {
      width: 375px;
      margin: 80px auto;
    }
    @include mq-up("sm") {
      width: auto;
      margin: 40px 20px;
    }
    .works-contents-banner-list {
      .works-contents-banner-item {
        @include mq-up("md") {
          margin: 0 auto 40px;
        }
        &:last-child {
          margin-top: 80px;
          @include mq-up("md") {
            margin-top: 0;
          }
        }
        .works-contents-banner-img {
          display: block;
          margin: 0 auto;
          @include mq-up("md") {
            width: 100%;
            margin: 0 auto;
          }
          @include mq-up("sm") {
            width: 100%;
          }
        }
        //メンズコスメバナー
        .mens-cosme-banner {
          width: 640px;
          @include mq-up("md") {
            width: 400px;
          }
          @include mq-up("sm") {
            width: 100%;
          }
        }
        .mens-cosme-banner-long {
          width: 640px;
          @include mq-up("md") {
            width: 400px;
          }
          @include mq-up("sm") {
            width: 100%;
          }
        }
        //@cosme Appバナー
        .atcosme-app-banner {
          width: 800px;
          @include mq-up("md") {
            width: 400px;
          }
          @include mq-up("sm") {
            width: 100%;
          }
        }
        //beautydayバナー
        .beautyday-banner {
          width: 400px;
          @include mq-up("sm") {
            width: 100%;
          }
        }
      }
    }
  }
}
