@charset 'utf-8';

#works {
    .works-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 1260px;
        margin: 80px auto 100px;
        .works-item {
            margin: 10px;
            img {
                width: 400px;
                height: auto;
            }
        }
    }
}

.works-wrap {
    .works-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-size: 24px;
        text-align: center;
        &::before,
        &::after {
            content: "";
            width: 30px;
            height: 1px;
            background-color: #1cc6e1;
        }
        &::before {
            margin-right: 10px;
        }
        &::after {
            margin-left: 10px;
        }
    }
    .works-title {
        margin-top: 60px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .works-sentence {
        width: 800px;
        margin: 50px auto 0;
        font-size: 15px;
        line-height: 1.6;
        text-align: center;
    }
    .works-skills-list {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        .works-skills-item {
            width: 300px;
            margin: 0 20px;
            .works-item-title {
                margin-bottom: 30px;
                font-size: 16px;
                text-align: center;
            }
            .works-skill-icon-list {
                display: flex;
                justify-content: center;
                width: 300px;
                margin: 0 auto;
                .works-skill-icon-item {
                    margin: 0 5px;
                    .works-skill-icon-img{
                        width: 80px;
                        height: auto;
                    }
                    .works-skill-icon-title {
                        margin-top: 5px;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .works-contents {
        width: 1000px;
        margin: 120px auto;
        .works-contents-list {
            .works-contents-item {
                margin: 0 auto 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                .works-contents-img {
                    display: block;
                    width: 1000px;
                }
            }
        }
    }
    //外部リンク
    .external-link {
        display: flex;
        justify-content: flex-end;
        .external-link-word {
            color: #1492e6;
        }
        .external-link-img {
            margin-left: 7px;
        }
    }
    .top-link {
        margin-bottom: 14px;
    }
    .under-link {
        margin-top: 14px;
    }
    //works-premium.html 専用スタイル
    .works-contents-prm {
        width: 375px;
        margin: 120px auto;
        .works-contents-prm-img {
            display: block;
            margin: 0 auto;
        }
    }
    //works-bescos.html 専用スタイル
    .works-contents-bescos {
        width: 1000px;
        margin: 120px auto;
        .works-contents-bescos-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .works-contents-bescos-item {
                margin: 0 60px;
                &:last-child {
                    margin-top: 80px;
                }
                .works-contents-bescos-img {
                    display: block;
                    width: 350px;
                    margin: 0 auto;
                }
            }
        }
    }
    //banner 専用スタイル
    .works-contents-banner {
        width: 1000px;
        margin: 120px auto;
        .works-contents-banner-list {
            .works-contents-banner-item {
                &:last-child {
                    margin-top: 80px;
                }
                .works-contents-banner-img {
                    display: block;
                    margin: 0 auto;
                }
                //メンズコスメバナー
                .mens-cosme-banner {
                    width: 400px;
                }
                .mens-cosme-banner-long {
                    width: 640px;
                }
                //@cosme Appバナー
                .atcosme-app-banner {
                    width: 800px;
                }
                //beautydayバナー
                .beautyday-banner {
                    width: 400px;
                }
            }
        }
    }
}
